.admin-container {
  padding: 50px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.admin-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.admin-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-btn {
  display: block;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  background: #222;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s;
}

.admin-btn:hover {
  background: #444;
  transform: scale(1.03);
}
