/* Fondo completo con imagen */
.login-banner {
  background-image: url("./Banner.png"); /* tu nueva imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-banner-content {
  color: white;
  font-family: "Playfair Display", serif;
  padding: 20px;
}

.login-banner-content h2 {
  font-size: clamp(26px, 3vw, 45px);
  font-weight: 600;
  margin-bottom: 10px;
}



/* Caja blanca del login */
.login-page {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 16px;
  width: 370px;
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.login-page h1 {
  text-align: center;
  color: #9b592a;
  margin-bottom: 25px;
  font-size: 28px;
}

/* Formulario */
.login-form .form-group {
  margin-bottom: 18px;
}

.login-form label {
  font-weight: 600;
  color: #9b592a;
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #c7b299;
  margin-top: 6px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #9b592a;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #7f441f;
}

.error-msg {
  color: red;
  margin-bottom: 10px;
}
